DevOpsDemo/DevOpsDemo/bin/Debug/staging/DevOpsDemo/LogicApp.json
{
  "$schema": "https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "logicAppName": {
      "type": "string",
      "minLength": 1,
      "maxLength": 80,
      "metadata": {
        "description": "Name of the Logic App."
      }
    },
    "logicAppLocation": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]",
      "allowedValues": [
        "[resourceGroup().location]",
        "eastasia",
        "southeastasia",
        "centralus",
        "eastus",
        "eastus2",
        "westus",
        "northcentralus",
        "southcentralus",
        "northeurope",
        "westeurope",
        "japanwest",
        "japaneast",
        "brazilsouth",
        "australiaeast",
        "australiasoutheast",
        "southindia",
        "centralindia",
        "westindia",
        "canadacentral",
        "canadaeast",
        "uksouth",
        "ukwest",
        "westcentralus",
        "westus2"
      ],
      "metadata": {
        "description": "Location of the Logic App."
      }
    },
    "LogicAppIntegrationAccount": {
      "type": "string",
      "minLength": 1,
      "defaultValue": "/subscriptions/bd24c633-af54-4962-9a93-2d965fac3c45/resourcegroups/DemoResourceGroup/providers/Microsoft.Logic/integrationAccounts/DevOpsDemoIntAcc"
    },
    "azurefile_1_Connection_Name": {
      "type": "string",
      "defaultValue": "azurefile"
    },
    "azurefile_1_Connection_DisplayName": {
      "type": "string",
      "defaultValue": "SA_Connection"
    },
    "azurefile_1_accountName": {
      "type": "string",
      "metadata": {
        "description": "Name of the storage account the connector should use."
      },
      "defaultValue": "demostorageaccountgpv2"
    },
    "azurefile_1_accessKey": {
      "type": "securestring",
      "metadata": {
        "description": "Specify a valid primary/secondary storage account access key."
      }
    }
  },
  "variables": {},
  "resources": [
    {
      "name": "[parameters('logicAppName')]",
      "type": "Microsoft.Logic/workflows",
      "location": "[parameters('logicAppLocation')]",
      "tags": {
        "displayName": "LogicApp"
      },
      "apiVersion": "2016-06-01",
      "properties": {
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "actions": {
            "Response": {
              "type": "Response",
              "kind": "http",
              "inputs": {
                "statusCode": 200,
                "body": "@body('Transform_JSON_to_JSON')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "Response": {
                      "type": "object",
                      "properties": {
                        "FullName": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              },
              "runAfter": {
                "Create_file": [
                  "Succeeded"
                ]
              }
            },
            "Transform_JSON_to_JSON": {
              "inputs": {
                "content": "@triggerBody()",
                "integrationAccount": {
                  "map": {
                    "name": "FullNameliquidtemp"
                  }
                }
              },
              "type": "Liquid",
              "kind": "JsonToJson",
              "runAfter": {}
            },
            "Create_file": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azurefile']['connectionId']"
                  }
                },
                "method": "post",
                "body": "@body('Transform_JSON_to_JSON')",
                "path": "/datasets/default/files",
                "queries": {
                  "folderPath": "/dev",
                  "name": "@{guid()}.json",
                  "queryParametersSingleEncoded": true
                }
              },
              "runAfter": {
                "Transform_JSON_to_JSON": [
                  "Succeeded"
                ]
              },
              "runtimeConfiguration": {
                "contentTransfer": {
                  "transferMode": "Chunked"
                }
              }
            }
          },
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "Request": {
                      "type": "object",
                      "properties": {
                        "FirstName": {
                          "type": "string"
                        },
                        "LastName": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "contentVersion": "1.0.0.0",
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azurefile": {
                "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azurefile')]",
                "connectionId": "[resourceId('Microsoft.Web/connections', parameters('azurefile_1_Connection_Name'))]",
                "connectionName": "[parameters('azurefile_1_Connection_Name')]"
              }
            }
          }
        },
        "integrationAccount": {
          "id": "[parameters('LogicAppIntegrationAccount')]"
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', parameters('azurefile_1_Connection_Name'))]"
      ]
    },
    {
      "type": "MICROSOFT.WEB/CONNECTIONS",
      "apiVersion": "2016-06-01",
      "name": "[parameters('azurefile_1_Connection_Name')]",
      "location": "[parameters('logicAppLocation')]",
      "properties": {
        "api": {
          "id": "[concat(subscription().id, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'azurefile')]"
        },
        "displayName": "[parameters('azurefile_1_Connection_DisplayName')]",
        "parameterValues": {
          "accountName": "[parameters('azurefile_1_accountName')]",
          "accessKey": "[parameters('azurefile_1_accessKey')]"
        }
      }
    }
  ],
  "outputs": {}
}